.logo{
  margin-right: 5px;
  img{
    height: 40px;
  }
}

.interstitial{
  margin-top: 15px;
  margin-bottom: 15px;
  img{
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 100%;
    width: 250px;
  }
}
