.overview_container{
  margin-top: 10px;
}

.card{
  width: 100%;
  .header{
    background: #6659b2;
    h5{
      color: white;
    }
    p{
      color: #cbcbcb;
    }
  }
}

.comments_section{
  h5{
    line-height: 2rem;
    span{
      vertical-align: bottom;
    }
  }
}
