@import "~react-toolbox/lib/colors";
@import "~react-toolbox/lib/globals";

.route-active {
  //font-weight: bold;
}

.nav{
  flex-grow: 1;
  text-align: right;
  ul{
    list-style: none;
    li{
      display: inline-block;
      padding: 0;
      a{
        text-align: center;
        padding: 23px 10px;
        position: relative;
        min-width: 80px;
        display: block;
        @media screen and (max-width: 480px) and (orientation: portrait) {
          padding: 19px 10px;
        }
        &.route-active {
          background-color: lighten($color-primary, 5%);
          &:after{
            position: absolute;
            bottom: 0px;
            left: 0;
            display: block;
            width: 100%;
            height: 3px;
            content: '';
            background-color: $color-accent;
          }
        }
      }
    }
  }
}