@import "~react-toolbox/lib/colors";

.idea{
  padding: 10px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  @media(min-width: 768px) and (max-width: 992px){
    width: 50%;
    &:nth-child(2n+1){
      padding-left: 0;
    }
    &:nth-child(2n){
      padding-right: 0;
    }
  }
  @media(min-width: 992px){
    width: 33%;
    &:nth-child(3n+1){
      padding-left: 0;
    }
    &:nth-child(3n){
      padding-right: 0;
    }
  }
  float: left;
  border: 1px solid #f3f3f3;
  &.open{
    border-left: 6px solid lightgray;
  }
  &.done{
    border-left: 6px solid $palette-green-500;
  }
  &.pending{
    border-left: 6px solid $palette-yellow-500;
  }
  &.closed{
    border-left: 6px solid $palette-red-500;
  }
}

.card{
  width: 100%;
  .header{
    background: #6659b2;
    h5{
      color: white;
    }
    p{
      color: #cbcbcb;
    }
  }
  .details{
    height: 105px;
  }
}
