extends ../layout

block content
  div.mui-panel.auth-panel
    legend Create Your Intranet Account
    form(method='POST' id='signup-form')
      input(type='hidden', name='_csrf', value=_csrf)
      .mui-textfield
        label(for='email') Email
        input(type='email', name='email', id='email', placeholder='Email', autofocus, required)
      .mui-textfield
        label(for='password') Password
        input(type='password', name='password', id='password', placeholder='Password', required)
      .mui-textfield
        label(for='password') Password
        input(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', required)
      div
        button.mui-btn.mui-btn--raised.mui-btn--primary.btn-full-width(type='submit') Signup
      div
        a.mui-btn(href='/login').btn-full-width Back to Login